<a rel="me" href="https://masto.ai/@blowfish"></a>
<!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
<!-- <script defer src="https://busuanzi.9420.ltd/js"></script> -->
<!-- <style> -->
<!--     #busuanzi_site_pv, -->
<!--     #busuanzi_site_uv { -->
<!--         font-size: 14px; /* Modify the font size to your preference */ -->
<!--     } -->
<!-- </style> -->
<!---->
<!-- 本站总访问量 <span id="busuanzi_site_pv"></span> 次 -->
<!-- 本站总访客数 <span id="busuanzi_site_uv"></span> 人 -->

<script defer src="https://busuanzi.9420.ltd/js"></script>
{{/* 访问量和访客数 */}}

<!-- <span class="text-sm text-neutral-500 dark:text-neutral-400">
  本站总访问量 <span id="busuanzi_site_pv"></span> 次 |
</span>
<span class="text-sm text-neutral-500 dark:text-neutral-400">
  本站总访客数 <span id="busuanzi_site_uv"></span> 人
</span> -->
<span class="text-sm text-neutral-500 dark:text-neutral-400">
  Total views <span id="busuanzi_site_pv"></span>  ·
</span>
<span class="text-sm text-neutral-500 dark:text-neutral-400">
  Total visits <span id="busuanzi_site_uv"></span> 
</span>

<!-- <style> -->
<!--     #busuanzi_site_pv, -->
<!--     #busuanzi_site_uv, -->
<!--     #site-visit { -->
<!--         font-size: 12px; /* 修改字体大小为您想要的数值 */ -->
<!--     } -->
<!-- </style> -->
<!---->
<!-- <span id="site-visit">本站总访问量</span> <span id="busuanzi_site_pv"></span> <span id="site-visit">次 | </span>  -->
<!-- <span id="site-visit">本站总访客数</span> <span id="busuanzi_site_uv"></span> <span id="site-visit">人</span> -->


<!-- <span id="busuanzi_container_site_uv"> -->
<!--   本站访客数<span id="busuanzi_value_site_uv"></span>人次 -->
<!-- </span> -->
<!-- 本站总访问量 <span id="busuanzi_value_site_pv"></span> 次 -->
